<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.karimattia.workoutpixel">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:name=".core.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivityOld"
            android:exported="true"
            android:label="Workout Pixel"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".core.WorkoutPixelAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="AUTO_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/workout_pixel_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="Workout Pixel"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".configure.ConfigureActivity"
            android:label="Add a widget for your goal"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ConfigureTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="APPWIDGET_RECONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>