<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workoutpixel">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">

        <receiver android:name=".Core.WidgetFunctions">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="AUTO_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/workout_pixel_info" />
        </receiver>

        <activity android:name=".Main.MainActivity"
            android:label="Workout Pixel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Core.ConfigureActivity"
            android:label="Add a Workout Pixel goal"
            android:parentActivityName=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="APPWIDGET_RECONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name=".PastWorkouts.ViewWorkoutsActivity"
            android:label="Past Workouts"
            android:parentActivityName=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.CLICKED_WORKOUT_VIEW" />
            </intent-filter>
        </activity>

    </application>
</manifest>