<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.karimattia.workoutpixel">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:name=".core.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
        android:windowNoTitle="true"
        >

        <receiver
            android:name=".core.GlanceWidgetReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/workout_pixel_widget" />

        </receiver>

        <!-- https://stackoverflow.com/questions/64050392/software-keyboard-overlaps-content-of-jetpack-compose-view -->
        <activity
            android:name=".activities.MainActivity"
            android:label="Workout Pixel"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConfigureActivity"
            android:label="Add a widget for your goal"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="APPWIDGET_RECONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>

